# Remove the .template and populate the fields with your secrets.
# DO NOT COMMIT PASSWORDS TO A REPO EVER

access_token = ""
access_token_secret = ""
api_key = ""
api_key_secret = ""

# DO NOT COMMIT PASSWORDS TO A REPO EVER